.menu {
    display:flex;
    justify-content: space-between;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.item {
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}