.menu {
    display:flex;
    justify-content: space-between;
}

.grade img{
    border: 2px solid black;
    border-radius: 50px;

}

.grade {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}